@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#app {
  height: 100%;
}
body,
input,
button {
  font: 14px "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
  background-attachment: fixed;
}

/**
* YOUR CODE HERE
*/

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px;
  width: 50px;
  margin-bottom: 20px;
}

.login {
  width: 100%;
  max-width: 400px;
  min-height: 182px;
  background-color: #E6E6E6;
  padding: 16px 16px 26px;
  border-radius: 20px 0px;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > * {
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #D1D1D1;
}

.login > form > button {
    color: #FFFFFF;
}

.login > form > button:hover {
    color: #757575;
}

.login > form > button:enabled {
    background-color: #008429;
    color: #FFFFFF;
}

.login > form > input {
  padding: 0 10px;
}

.login > form > input:nth-child(2) {
  margin: 10px 0;
}
